{% extends "package/read_base.html" %}

{% block subtitle %}Relationships {{ g.template_title_deliminater }} {{ h.dataset_display_name(pkg) }}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('package_relationship_create', {'subject': pkg.id, 'object': pkg.id})%}
    {% link_for _('Add Relationship'), named_route='relationships.new', dataset_id=pkg.id, class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}


{% block primary_content_inner %}
  {% set relationships = h.package_relationships(pkg.id)%}
  {% set count = relationships|length %}
  {% set relationships_count = ungettext('{count} Related Dataset', '{count} Related Datasets', count).format(count=count) %}

  <h3 class="page-heading">{{ relationships_count }}</h3>
  <table class="table table-header table-hover table-bordered" id="relationship-table">
    <thead>
      <tr>
        <th width=120>{{ _('Relationship') }}</th>
        <th>{{ _('Dataset') }}</th>
		<th>{{ _('Comment') }}</th>
        <th width=100>{{ _('Action') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for rel in relationships %}
      <tr>
        <td class="media" >{{ h.relationship_type_display(rel.type) }}</td>
        {% set related = h.relationship_dataset( rel['object'] ) %}
        {% if related %}
        <td class="dataset-details">{{ h.dataset_link( related ) }}</td>
        {% else %}
        <td class="dataset-details"> {{ _('Private') }} {{ _('Dataset') }}
            <span class="dataset-private label label-inverse"><i class="fa fa-lock"></i></span></td>
        {% endif %}
        <td>
            <div class="notes embedded-content">{{ h.render_markdown(h.get_translated(rel, 'comment')) }}</div>
        </td>
        <td>
            <div class="btn-group pull-right">
                <!--  Remove update action due to this bug https://github.com/ckan/ckan/issues/7328 -->
                <!--                <a class="btn btn-default btn-sm"-->
                <!--                   href="{{ h.url_for('relationships.new', dataset_id=pkg.id, object=rel.object, type=rel.type)  }}"-->
                <!--                   title="{{ _('Edit') }}">-->
                <!--                    <i class="fa fa-wrench"></i></a>-->
                <a class="btn btn-danger btn-sm"
                   href="{{ h.url_for('relationships.delete', dataset_id=pkg.id, object=rel.object, type=rel.type)  }}"
                   data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this relationship?') }}"
                   title="{{ _('Delete') }}">{% block delete_button_text %}
                    <i class="fa fa-times"></i>{% endblock %}</a>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
