{% extends "package/read_base.html" %}

{% import 'macros/form.html' as form %}

{% set rel_object = object %}
{% set rel_type = type %}
{% set rel_comment = comment %}

 {% block subtitle %}{{ _('Edit Relationship') if rel_object else _('Add Relationship') }} - {{ super() }}{% endblock %} 


{% block primary_content_inner %}
  {% link_for _('Back to all relationships'), named_route='relationships.read', dataset_id=pkg.id, class_='btn btn-default pull-right', icon='arrow-left' %}
  <h1 class="page-heading">
    {% block page_heading %}{{ _('Edit Relationship') if rel_object else _('Add Relationship') }}{% endblock %}
  </h1>
  
  {% block form %}
  <form class="dataset-form " method='post'>  
  {% if rel_object %}
		{% set object_attrs = {'disabled':'true', 'data-module':"autocomplete"} %} 
		{% set type_attrs = {'disabled':'true', 'data-module':"autocomplete"} %}
		<input type="hidden" name="object" value="{{ rel_object }}" />
		<input type="hidden" name="type" value="{{ rel_type }}" />
	{% else %}
		{% set object_attrs = { 'placeholder':_('Dataset'), 'data-module':"autocomplete", 'data-module-source':"/api/2/util/dataset/autocomplete?incomplete=?"} %}
		{% set type_attrs = { 'data-module':'autocomplete' } %}
	{% endif %}
			

    <div class="row">
        <div class="form-group control-medium">
          <div class="controls">
				
			{{ form.input('object', id='field-object', label=_('Dataset'), value=rel_object, error='', attrs=object_attrs) }}

		</div>
	    </div>
      </div>

  <div class="row">
        <div class="form-group control-medium">
          <div class="controls">
				
			{{ form.select('type', id='field-type', label=_('Relationship Type'), selected=rel_type, options=relationship_types,  error='', attrs=type_attrs) }}

		</div>
	    </div>
      </div>

	
	<div class="row"><div class="form-group control-medium"><div class="controls">
	 {{ form.markdown('comment', id='field-comment', label=_('Comment'), placeholder=_('Optional comment about this relationship'), value=rel_comment, error='') }}
	</div></div></div>
	
    <div class="form-actions">
      {% if rel_object and rel_type%}
        <a href="{{ h.url_for('relationships.delete', dataset_id=pkg.id, object=rel_object, type=rel_type) }}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this collaborator?') }}">{{ _('Delete') }}</a>
        <button class="btn btn-primary" type="submit" name="submit" >
          {{ _('Update Relationship') }}
        </button>
      {% else %}
        <button class="btn btn-primary" type="submit" name="submit" >
          {{ _('Add Relationship') }}
        </button>
      {% endif %}
    </div>
  </form>
  {% endblock %}
{% endblock %}

{% block secondary_content %}
{{ super() }}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-lg fa-info-circle"></i>
    {{ _('What are the available roles?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p><strong>Editor:</strong> Editors can edit the dataset and its resources, as well accessing the dataset if private.</p>
      <p><strong>Member:</strong> Members can access the dataset if private, but not edit it.</p>
    {% endtrans %}
  </div>
{% endblock %}
